@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
   .header_area .navbar .search {
		margin-left: 40px;
	}
	/* End Main Menu Area css
	============================================================================================ */
}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	.header_area + section, .header_area + div {
		margin-top: 168px;
	}
	.top_menu .container{
		display: block;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area {
		min-height: 700px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.header_magazin img{
		max-width: 100%;
	}
	.logo_part .container{
		display: flex;
	}
	.logo_part .float-left{
		padding-right: 50px;
	}
	.choice_text {
		margin-top: 0px;
	}
}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
	.logo_part {
		display: none;
	}
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
		float: right;
    }
	.header_area .navbar {
		background: #fff;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #ea2c58;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
    }
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 117px;
	}
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 66px;
	}
	.main_menu .navbar .container_inner {
		display: block;
	}
	.main_menu .navbar .navbar-brand {
		display: inline-block;
		padding-top: 11px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	/* Footer Area css
	============================================================================================ */
	/* End End Footer Area css
	============================================================================================ */
	.home_banner_area {
		background-size: cover;
		margin-bottom: 0px;
	}
	.choice_item{
		max-width: 270px;
	}
	.choice_item.small{
		max-width: 170px;
	}	
	.right_sidebar{
		margin-top: 50px;
	}	
	.news_widgets .choice_item{
		margin: 0px auto 30px;
	}
	.product_list_inner{
		margin-bottom: -30px;
	}
	.product_list_inner .col-lg-4{
		margin-bottom: 30px;
	}
	.f_widgets_inner .col-sm-6{
		margin-bottom: 40px;
	}
	.f_widgets_inner{
		margin-bottom: -40px;
	}
	.choice_small_inner{
		max-width: 400px;
	}
}
@media (max-width:767px){
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	/* Footer Area css
	============================================================================================ */
	
	/* End End Footer Area css
	============================================================================================ */
	.choice_item{
		margin: 0px auto 30px;
	}
	.latest_news .media .d-flex {
		padding-right: 0px;
		display: block;
		margin-bottom: 20px;
	}
	.latest_news .media {
		margin-bottom: 0px;
		display: block;
		max-width: 300px;
		margin: 0px auto 30px;
	}
	.footer-bottom .footer-text{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-bottom: 20px;
	}
}
@media (max-width:575px){
	
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
	}
	.top_menu {
		display: none;
	}
	
    /* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 28px;
	}
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.blog_banner .banner_inner .blog_b_text {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content img{
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0px;
	}
	.home_banner_area .banner_inner .banner_content .date a {
		margin-right: 8px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 70px 0 70px 0;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	.banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}
	.mt-100 {
		margin-top: 50px;
	}
	.single-footer-widget p {
		max-width: 100%;
	}
	.p_100 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_blog_details h4 {
		font-size: 28px;
	}
	.main_blog_details h4 br {
		display: none;
	}
	.main_blog_details .news_d_footer {
		display: block;
		text-align: center;
	}
	.main_blog_details .news_d_footer .justify-content-center {
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar-collapse{
		max-height: 250px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.banner_content .white_btn {
		display: block;
	}
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 24px;
	}
	.home_banner_area .carousel .carousel-indicators {
		bottom: -50px;
		z-index: 20;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area {
		min-height: 400px;
	}
	.home_banner_area .banner_inner {
		min-height: 400px;
	}
}